@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #4f46e5 transparent;
  }

  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #4f46e5;
    border-radius: 3px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #4338ca;
  }
}
